body{
    padding: 0px;
    margin: 0px;
    background-color:rgb(238,238,238);
    
}.border {
    border: var(--bs-border-width) var(--bs-border-style) rgb(238 119 20)!important;  
}
#headerline{
    position: relative;
    top: 100px;
    width: 100%;
    height: 40px;

}
#headerline h2{
    position: absolute;
    left: 100px;
    top: 70px;
    color: rgb(238,119,20);

}
#header{
    position:absolute;
    left: 120px;
    bottom: 400px;
    font-size:10px;
    color: white;
    width: 200px;
    
    background-color: rgb(51, 233, 51);
}#head1{
    position:absolute;
    bottom: 400px;
    left: 100px;
    font-size:10px;
    color: white;
    background-color:rgb(51, 233, 51) ;
}
.card-group{
    width: 1200px;
    margin: auto;
    margin-top: 200px;

}#card-group2{
    width: 1200px;
    margin: auto;
    margin-top: 10px;

}
.card-group .card{
    width: 500px;
    height: 450px;
}.card {
    margin: 25px;
    width: 500px;
    border: 1px solid rgb(238,119,20);
}#card1{
    border: 1px solid rgb(238,119,20);
    border-radius: 14px 14px 14px 14px;
    overflow: hidden;
    
}#card1 img{
    transition: 0.5s;
}

#card1:hover img{
transform: scale(1.2,1.2);
}
#card2{
    border: 1px solid rgb(238,119,20);
    height:450px;
    border-radius: 14px 14px 14px 14px;
    overflow: hidden;
}
#card2 img{
    transition: 0.5s;
}
#card2:hover img{
    transform: scale(1.2,1.2);
    }
#card0{
    border: 1px solid rgb(238,119,20);
    border-radius: 14px 14px 14px 14px;
    overflow: hidden;
}
#card0:hover img{
    transition: 0.5s;
}
#card0:hover img{
    transform: scale(1.2,1.2);
    }

.navbar-toggler-icon
{  
    position: relative;
    right: 2px;
    left: 18px;
    font-size: 16px;
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28236, 79, 32, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
.navbar-toggler
{   border: 1px solid rgb(230, 97, 48);
    width: 110px;
    border: 2px solid rgb(238, 109, 62);
    border-radius: 30%;
    font-size: 10px;
    height: 40px;

}
.navbar-toggler p{
     color: rgb(235, 98, 48);
    position:relative;
    bottom: 20px;
    right: 20px;
    font-size:16px;
}
#card-bodyf {
    background-color:rgb(235, 98, 48);
    width: 500px;
    border: 2px solid white;
    
}.row{
    width: 1281px;
    position: relative;
    right: 30px;
}
.nav-item{
    margin: 8px;
}
.nav-item:hover{
    background-color:transparent;
    color:white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}#facebook:hover{
    transform: scale(1.3,1.3);
    
}#facebook{
        transition: 0.5s;
        overflow: hidden;
}